body {
  background-image: url(./images/pic2.jpg);
  background-repeat: no-repeat;
}

.titleText {
  color:red;
  text-align: center;
  font-size: 58px;
  color: white;
  font-family: "Felix Titling";
  
}

.currentWeather {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.searchText {
  text-align: center;
  color: #286089;
  font-size: 18px;
  font-weight: bold;
}

.searchButton {
  text-align: center;
  background-color: #286089;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;

}

.currentTemperature {
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
}

.centeredDiv {
  margin: auto;
  width: 50%;
  text-align: center;
}

input[type=text] {
  width: 40%;
  padding: 8px 10px;
  margin: 8px 0;
  font-size: 15px;
  
 
}

.longTermText {
  margin-top: 30px;
  color:white;
  font-family: "Felix Titling";
}

.test {
  height: 30px;
}

.tableStyle {
  margin: auto;
}

th, td {
  padding-left: 20px;
  text-align: center;
  /* text-align: left; */
  color: #133D5B;
}